@font-face {
  font-family: 'Test Sans';
  src: url(../fonts/test-untitled-sans-light.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Test Sans';
  src: url(../fonts/test-untitled-sans-light-italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Test Sans', sans-serif;
  --primary-weight: 100;
}

html {
  font-size: 11px;
  letter-spacing: 1px;
  font-family: var(--font-primary);
  font-weight: var(--primary-weight);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

main {
  padding-top: 100px;
}

button {
  border: none;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-transform: inherit;
  display: inline-block;
  letter-spacing: 1px;
}

h2 {
  font-size: 11px;
  letter-spacing: 1px;
  font-family: var(--font-primary);
  font-weight: var(--primary-weight);
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 50px 45px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 30px 15px;
  }
}

.desktop-link-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.category-links {
  width: 40%;
  display: flex;
  gap: 15px;
}

.header-link:hover,
.view-button:hover,
.information-link:hover {
  opacity: 0.5;
  transition: all 300ms;
}

.logo-link {
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.logo-link img {
  width: 150px;
}

.mobile-logo-link {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.mobile-logo-link img {
  width: 130px;
}

.mobile-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 15px;
  z-index: 10;
  transition: all 700ms;
}

.mobile-options-show,
.show {
  opacity: 1;
  transition: all 700ms;
}

.mobile-options-hide,
.hide {
  opacity: 0;
  transition: all 700ms;
}

.mobile-view-options,
.mobile-category-links,
.mobile-information {
  display: flex;
  gap: 10px;
}

.mobile-view-options {
  justify-content: center;
}

.mobile-information {
  justify-content: flex-end;
}

.information,
.view-options {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.view-button {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.tile-page {
  padding: 45px;
  padding-bottom: 200px;
  transition: all 1s;
}

.project-tile:hover .project-tile-title {
  opacity: 0.5;
  transition: all 300ms;
}

@media screen and (max-width: 600px) {
  .tile-page {
    padding: 70px 15px;
  }
}

.project-tile-outer {
  display: flex;
  gap: 30px;
}

.project-tile-inner {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 190px;
}

.project-tile-inner-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 100px;
}

.project-tile-show {
  text-transform: uppercase;
  animation: blurOn 1s forwards;
}

.project-tile-hide {
  opacity: 0;
}

.fade-out {
  opacity: 0;
  transition: all 700ms;
}

.fade-out-slow {
  opacity: 0 !important;
  transition: all 1s;
}

@keyframes blurOn {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-out;
  backdrop-filter: blur(8px);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 50;
}

.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModal__Content {
  opacity: 0;
  transition: opacity 500ms ease-out;
  transition-delay: 300ms;
}

.ReactModal__Content--after-open {
  opacity: 1;
}

.modal-close {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 100;
  transition: all 300ms;
}

.modal-shopping-bag-container {
  position: fixed;
  right: 100px;
  top: 40px;
  z-index: 100;
  transition: all 300ms;
}

.shopping-bag-container {
  position: fixed;
  right: 40px;
  top: 80px;
  z-index: 100;
  transition: all 300ms;
}

.shopping-bag {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-number {
  position: absolute;
  top: 0;
  right: 0;
}

.close-icon {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.shopping-bag svg {
  height: 30px;
  width: 30px;
  padding: 8px;
}

.modal-close:hover {
  transform: rotate(90deg);
  transition: all 300ms;
}

.page-title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  z-index: 100;
  text-transform: uppercase;
  text-align: center;
}

.poster-image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .modal-close {
    right: 15px;
  }

  .modal-close:hover {
    transform: none;
  }

  .modal-shopping-bag-container {
    right: 50px;
  }
}

.page-container {
  position: absolute;
  border: none;
  background: none;
  overflow: auto;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  outline: none;
  padding: 0;
}

.project-padding {
  height: 80px;
  width: 100%;
  float: left;
  clear: both;
}

.project-media-container {
  width: 75%;
  margin-left: 12.5%;
  padding-top: 60px;
}

.tile-image {
  width: 100%;
}

.video-module {
  position: relative;
  max-height: calc(100vh - 150px);
  margin: 0 auto;
}

.module-video-player {
  position: relative;
}

.module-video-player iframe {
  height: 100%;
  width: 100%;
}

.main-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-list-view {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.project-listing-link:hover {
  opacity: 0.5;
  transition: all 300ms;
}

.project-tooltip {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vw;
  border: none;
}

.project-listing-link {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
  z-index: 10;
}

.project-listing-video-link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.video-project-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
}

.project-listing-title {
  display: inline;
}

.project-tile-title {
  padding-top: 5px;
  position: relative;
  display: inline-block;
}

.active-link,
.header-link,
.view-button,
.information-link {
  position: relative;
}

.active-link::after,
.header-link:hover::after,
.view-button:hover::after,
.information-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  text-align: center;
  height: 1px;
  background-color: #000;
  bottom: 0px;
  left: 0px;
}

.active-link:hover::after,
.header-link:hover::after,
.view-button:hover::after,
.information-link:hover::after {
  opacity: 0.5;
  transition: all 300ms;
}

.video-controls {
  position: absolute;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.controls-container {
  color: #fff;
  display: flex;
  align-items: center;
}

.controls-container > div {
  width: 33%;
}

.seek-and-play-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.seek-and-play-controls img {
  cursor: pointer;
}

.seek-and-play-controls img:hover {
  opacity: 0.5;
  transition: all 300ms;
}

.sound-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.controls-hide {
  opacity: 0;
  transition: all 700ms;
}

.controls-show {
  opacity: 1;
  transition: all 700ms;
}

.full-screen-btn {
  position: absolute;
  z-index: 150;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.full-screen-btn:hover {
  opacity: 0.5;
  transition: all 300ms;
}

.video-play-pause-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

.video-poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

@media screen and (max-width: 700px) {
  .project-media-container {
    width: 100%;
    margin-left: 0;
    padding-top: 70px;
  }

  .progress-bar {
    height: 25px;
  }

  .video-controls {
    padding: 5px 10px;
  }
}

.about-page {
  display: flex;
  gap: 10px;
  padding: 40px 20px;
}

.about-bio {
  width: 50%;
  margin-right: 5%;
}

.about-bio p {
  margin-bottom: 20px;
}

.about-contact {
  width: 20%;
  text-transform: uppercase;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 900px) {
  .about-page {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 30px;
  }

  .about-bio {
    width: 100%;
    margin-right: 0;
  }

  .about-contact {
    width: 100%;
    text-transform: uppercase;
  }
}

.product-page {
  display: flex;
  padding: 120px 45px;
  flex-direction: column;
  gap: 80px;
}

.product-row {
  display: flex;
  gap: 40px;
}

.product-media {
  width: 60%;
}

.product-slider {
  height: calc(80vh - 40px);
  width: 100%;
}

.product-image-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 60px);
  width: 100%;
}

.product-image {
  height: 100%;
  width: 100%;
}

.product-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-title {
  font-size: 24px;
  text-transform: uppercase;
}

.add-to-cart-btn {
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #000;
}

.slick-dots {
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .product-row {
    flex-direction: column;
    gap: 10px;
  }

  .product-media {
    width: 100%;
  }

  .product-info {
    width: 100%;
  }

  .product-slider {
    height: auto;
    width: 100%;
    margin-bottom: 40px;
  }

  .product-image-slide {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .product-page {
    padding: 100px 15px;
  }
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-button,
.next-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 600ms;
}

.prev-button:hover,
.next-button:hover {
  transition: all 600ms;
}

.prev-button .hero-svg,
.next-button .hero-svg {
  stroke: #000;
  transition: all 600ms;
}

.prev-button:hover .hero-svg,
.next-button:hover .hero-svg {
  stroke: #000;
  transition: all 600ms;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.cart-container {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  overflow-y: scroll;
}

.click-to-close-cart {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.cart-inner-container {
  padding: 160px 45px 20px 45px;
  background: #f5f5f5;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.product-row-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-right-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cart-title {
  font-size: 1.85rem;
  font-weight: 100;
  padding-bottom: 40px;
}

.product-details {
  display: flex;
  gap: 10px;
}

.product-row-image {
  width: 25%;
}

.cart-summary {
  padding-top: 40px;
  align-self: flex-end;
  width: 30%;
}

.quantity-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  border: 1px solid #000;
  padding: 4px 6px 6px 7px;
}

.checkout-btn {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .product-right-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .cart-inner-container {
    padding: 140px 15px 20px 15px;
    background: #f5f5f5;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
  }

  .product-row-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .shopping-bag-container {
    right: 15px;
    top: 100px;
  }

  .product-details {
    flex-direction: column;
  }

  .product-row-image {
    width: 60%;
  }

  .cart-summary {
    width: 100%;
  }
}
