@font-face {
  font-family: 'Test Sans';
  src: url(../fonts/test-untitled-sans-light.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Test Sans';
  src: url(../fonts/test-untitled-sans-light-italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Test Sans', serif;
  --primary-weight: 400;
}

html {
  font-size: 12px;
  font-family: var(--font-primary);
  font-weight: var(--primary-weight);
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

main {
  padding-top: 100px;
}

button {
  border: none;
  background: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 45px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 30px 15px;
  }
}

.desktop-link-container {
  display: flex;
  width: 100%;
}

.category-links {
  width: 40%;
  display: flex;
  gap: 15px;
}

.logo-link {
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.mobile-logo-link {
  font-size: 18px;
  text-align: center;
}

.mobile-options {
  display: flex;
  margin-top: 30px;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.mobile-view-options,
.mobile-category-links,
.mobile-information {
  width: 33.3%;
  display: flex;
  gap: 10px;
}

.mobile-category-links {
  justify-content: center;
}

.mobile-information {
  justify-content: flex-end;
}

.information,
.view-options {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.view-options {
  gap: 15px;
}

.view-button {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.tile-page {
  padding: 45px;
}

@media screen and (max-width: 600px) {
  .tile-page {
    padding: 30px 15px;
  }
}

.project-tile-outer {
  display: flex;
  gap: 30px;
}

.project-tile-inner {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 50px;
}

.project-tile-inner-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.project-tile-show {
  text-transform: uppercase;
  animation: blurOn 1s forwards;
}

.project-tile-hide {
  opacity: 0;
}

@keyframes blurOn {
  from {
    opacity: 0;
    filter: blur(8px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-out;
  backdrop-filter: blur(8px);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.project-media-container {
  width: 75%;
  margin-left: 12.5%;
}

.tile-image {
  width: 100%;
}
